<%- include('.../../../paritals/header') %>

<div class="row">
    <div class="col-md-8 mx-auto">

        <div class="container">
            <div class="row">
        <div class="mainbox col-md-6 col-md-offset" style="margin-top:50px; margin-left: 450px; ">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Add Exam</div>
                </div>
                <div class="panel-body">
                    <form action="AddExamType" class="form-horizontal" method="post">
                        <div class="form-group">
                            <label class="col-md-3 colntrol-label">Exam_Type: </label>
                            <input name="Exam_Type" class="form-control" id="exampleInputPassword1"  placeholder="Enter Email Address"  >
                       
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 colntrol-label">Description: </label>
                            <textarea name="Description" class="form-control" id="exampleInputPassword1" type="date" placeholder="Enter DOB"  ></textarea>
             
                        </div>
                        <div class="form-group">
                            <div class="col-md-offest-3 col-md-9">
                                <input type="submit" class="btn btn-primary" value="Add new Exam" /> 
                            </div>                        
                        </div>

                        <p><a href="/Course/ExamTypeList">View All Exam Type List !!</a></p>
                    </form>
                </div>
            </div>
        </div>
        
    </div>                     
</div>



