span.prfil-img img,.activity-img img,.media>.pull-left img,.inbox-page img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}