<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Registartion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="bg-info">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            


<div class="row">
    <div class="col-md-8 mx-auto">
<!--         
            {{#each errors}}
                <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                    <strong>{{message}}</strong>
                </div>
            {{/each}}
        {{/if}} -->



        <div class="card card-register mx-auto my-5">
            <div class="card-header">Teacher Register an Account</div>
            <div class="card-body">
                <form action="/Student/Signup" method="post">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="exampleInputPassword1">Email</label>
                                <input name="Email" class="form-control" id="exampleInputPassword1" type="email" placeholder="Enter Email Address"  >
                            </div>
                            <div class="col-md-6">
                                <label for="exampleConfirmPassword">Password</label>
                                <input name="Password" class="form-control" id="exampleConfirmPassword" type="password" placeholder="password" >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="exampleInputName">First name</label>
                                <input name="Fname" class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Enter first name">
                            </div>
                            <div class="col-md-6">
                                <label for="exampleInputLastName">Last name</label>
                                <input name="Lname" class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="Enter last name"
                                       >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="exampleInputPassword1">DOB</label>
                                <input name="DOB" class="form-control" id="exampleInputPassword1" type="date" placeholder="Enter DOB"  >
                            </div>
                            <div class="col-md-6">
                                <label for="exampleConfirmPassword">Mobile_No</label>
                                <input name="Mobile_No" class="form-control" id="exampleConfirmPassword" type="Number" placeholder="Enter Number" >
                            </div>
                        </div>
                    </div>
                    
                    <button onclick="alert('Your Registartion Suceesfully')"  type="submit" class="btn btn-primary btn-block">Register</button>
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" href="#">If You registarted then Click Here to go Login Page</a>
                    <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
                    
                </div>
            </div>
        </div>

    </div>
</div>

</div>
</div>
</body>
</html>